#title{
    font: normal normal 600 40px/50px Poppins;
}

#steps{
    background-image: url('../../../images/steps/fdo.webp');
    background-size: cover;
}

@media (max-width:960px){
    #title{
        font: normal normal 600 28px/34px Poppins;
    }
}