#title {
    font: normal normal 600 40px/50px Poppins;
}

#subtitle{
    font: normal normal 600 40px/50px Poppins;
}


@media (max-width:960px) {
    #title {
        font: normal normal 600 25px/32px Poppins;
    }

    #subtitle{
        font: normal normal 600 28px/34px Poppins;
    }
}