@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Regular.woff2') format('woff2'),
          url('../fonts/Poppins-Regular.woff') format('woff'),
          url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src:  url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff'),
        url('../fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Bold.woff2') format('woff2'),
          url('../fonts/Poppins-Bold.woff') format('woff'),
          url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src:  url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src:  url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Light.woff2') format('woff2'),
          url('../fonts/Poppins-Light.woff') format('woff'),
          url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Nunito';
    src:  url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
          url('../fonts/NunitoSans-Regular.woff') format('woff'),
          url('../fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
      url('../fonts/Manrope-Regular.woff') format('woff'),
      url('../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
      url('../fonts/Manrope-SemiBold.woff') format('woff'),
      url('../fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
      url('../fonts/Manrope-Bold.woff') format('woff'),
      url('../fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --titleBlack: #042552;
  --titleBlue: #526A9B;
  --subTitleGray: #494949;
  --paraTextGray: #5B5766;
  --accentPurple: #6B5FB9;
  --backgroundBlue: #F1F4F8;
  --itemBlue: #F0F6F9;
  --bannerGradient: linear-gradient(#F1F4F8, #ECFEFB);
  --secondaryBackground: #F9F7F8B8;
}

/* * { border: 1px solid goldenrod; }
  */
.title{
  font-family: Manrope;
  color: var(--titleBlack);
  font-weight: 700;
}

.sectionHeader {
  font-family: Manrope;
  color: var(--accentTextPurple);
  font-size: 1.1rem;
  font-weight: 600;
}

.sectionDetails {
  font-family: Poppins;
  color: var(--subTitleGray);
  font-weight: 300;
}

.titleThin {
  composes: title;
  font-weight: 300;
}

.titleSemiBold {
  composes: title;
  font-weight: 600;
}

.titleBold {
  composes: title;
  font-weight: 700;
}

.titleAccent {
  composes: title;
  font-weight: 700;
  color: var(--accentPurple)
}

.titleAccentBlack {
  composes: titleAccent;
  font-weight: 800;
}

.paraText {
  font-family: Nunito;
  color: var(--paraTextGray);
}


input:focus {
  outline: none;
}

/* Hero */
#hero {
  height: calc(100vh - 66px);
  max-height: 750px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#heroContent {
  width: 85%;
  max-width: 1300px;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 30px;
}

#heroText {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#textWrapper {
  max-width: 480px;
  width: 100%;
}

#heroFirstLine, #heroSecondLine {
  font-size: 3rem;
  line-height: 1.3em;
}

#heroParagraph {
  font-size: 1rem;
  margin-top: 10px;
}

#heroIllustration {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#characterSvg {
  width: 100%;
  max-width: 500px;
  z-index: 30;
  margin-right: 30px;
}

#heroButtons {
  margin-top: 23px;
  display: flex;
  column-gap: 10px
}

.purpleBtn {
  height: 35px;
  background-color: var(--accentPurple);
  border-radius: 5px;
  padding: 12.5px 20px;
  line-height: 10px;
  vertical-align: middle;
  font-size: .75em;
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff
}

.transparentBtn {
  composes: purpleBtn;
  background-color: initial;
  color: var(--accentPurple);
}

/* */

.blogPostsWrapper, .centralBlogPostWrapper, #bestPostsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centralBlogPostWrapper {
  background-color: var(--secondaryBackground);
}

#blogMain {
  display: flex;
  justify-content: center;
}

#blogWrapper {
  width: 100%;
}

.carousel {
  
}

/* ------------ Recent posts section -------------- */

#recentPostsTitle {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 2em;
}

#recentPostList {
  margin-top: 25px;
  padding: 0px calc(60px + 1%);
}



/* ------------ Best posts section -------------- */

#bestPosts{
  margin-top: 20px;
  margin-bottom: 70px;
}

#bestPostsHeader {

}

#bestPostsTitle {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 2em;
}

@media (max-width: 767px) {

  #hero {
    height: auto;
    max-height: none;
  }

  #heroContent {
    padding-top: 50px;
    flex-wrap: wrap;
  }

  #heroText {
    width: 100%;
    align-items: center;
  }

  #textWrapper {
    max-width: initial;
    width: 90%;
  }

  #heroFirstLine {
    font-size: 2.2rem;
    line-height: 1.3em;
  }

  #heroFirstLine, #heroParagraph {
    text-align: center;
  }

  #heroButtons {
    justify-content: center;
  }

  #heroIllustration {
    align-items: center;
  }

  #characterSvg {
    width: 70%;
    margin-top: 50px;
    margin-right: 0px;
  }

  .blogPostsWrapper {
    margin: 50px 0px;
  }

  #bestPostsList {
    padding: 0px 7.6%;
  }

}

@media screen and (max-width: 539px) {

  #mobileHeader {
    display: block;
  }

  #blogHeader {
    background-image: none;
    background-color: #9D94BF;
    background-size: cover;
    flex-direction: column;
    height: auto;
    padding: 40px 0px;
  }

  #recentPostsTitle {
    margin-top: 80px;
    font-size: 1.8em;
  }

  .blogPostsWrapper {
    margin: 30px 0px;
  }

  #bestPosts {
    margin-bottom: 30px;
  }

  #bestPostsTitle {
    margin-top: 60px;
    margin-bottom: 20px;
  }

  #bestPostsList {
    padding: 0px 0px;
  }

  #recentPostsTitle, #bestPostsTitle {
    text-align: left;
    padding: 0px calc(20px + 5%);
    font-size: 1.6em;
  }
}