@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Regular.woff2') format('woff2'),
          url('../fonts/Poppins-Regular.woff') format('woff'),
          url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src:  url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff'),
        url('../fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Bold.woff2') format('woff2'),
          url('../fonts/Poppins-Bold.woff') format('woff'),
          url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src:  url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src:  url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Light.woff2') format('woff2'),
          url('../fonts/Poppins-Light.woff') format('woff'),
          url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Nunito';
    src:  url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
          url('../fonts/NunitoSans-Regular.woff') format('woff'),
          url('../fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
      url('../fonts/Manrope-Regular.woff') format('woff'),
      url('../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
      url('../fonts/Manrope-SemiBold.woff') format('woff'),
      url('../fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
      url('../fonts/Manrope-Bold.woff') format('woff'),
      url('../fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  --titleBlue: #526A9B;
  --titleBlack: #042552;
  --subTitleGray: #042552B3;
  --paraTextGray: #5B5766;
  --accentPurple: #6B5FB9;
  --accentTextPurple: #A86EFF;
  --backgroundBlue: #F1F4F8;
  --itemBlue: #F0F6F9;
  --bannerGradient: linear-gradient(#F1F4F8, #ECFEFB);
  --secondaryBackground: #F9F7F8B8;
}

/* * { border: 1px solid goldenrod; }
 */
.title{
  font-family: Manrope;
  color: var(--titleBlack);
  font-weight: 700;
}

.sectionHeader {
  font-family: Manrope;
  color: var(--accentTextPurple);
  font-size: 1.1rem;
  font-weight: 600;
}

.sectionDetails {
  font-family: Poppins;
  color: var(--subTitleGray);
  font-weight: 300;
}

.titleThin {
  composes: title;
  font-weight: 300;
}

.titleSemiBold {
  composes: title;
  font-weight: 600;
}

.titleBold {
  composes: title;
  font-weight: 700;
}

.titleAccent {
  composes: title;
  font-weight: 700;
  color: var(--accentPurple)
}

.titleAccentBlack {
  composes: titleAccent;
  font-weight: 800;
}

.paraText {
  font-family: Nunito;
  color: var(--paraTextGray);
}

input:focus {
  outline: none;
}


/* ----------- Hero section -------------- */

#hero {
  height: calc(100vh - 66px);
  max-height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#heroContent {
  width: 85%;
  max-width: 1300px;
  display: flex;
  flex-wrap: nowrap;
  column-gap: 30px;
}

#heroText {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#textWrapper {
  max-width: 420px;
  width: 100%;
}

#heroFirstLine {
  font-size: 3rem;
  line-height: 1.3em;
}

#heroParagraph {
  font-size: 1rem;
  margin-top: 10px;
}

#heroIllustration {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#characterSvg {
  width: 100%;
  max-width: 500px;
  z-index: 30;
  margin-right: 30px;
}

#heroButtons {
  margin-top: 23px;
  display: flex;
  column-gap: 10px
}

.purpleBtn {
  height: 35px;
  background-color: var(--accentTextPurple);
  border-radius: 5px;
  padding: 12.5px 20px;
  line-height: 10px;
  vertical-align: middle;
  font-size: .75em;
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff
}

.transparentBtn {
  composes: purpleBtn;
  background-color: initial;
  color: var(--accentTextPurple);
}

#moreBtn {
  
}

/* Oasis compare section */

#oasisCompare {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#compareTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#compareTitle {
  width: 65%;
  font-size: 2.5rem;
  text-align: center;
}

#compareDetails {
  margin-top: 10px;
  max-width: 500px;
  text-align: center;
}

#compareItemsWrapper {
  margin-top: 50px;
  margin-bottom: 56px;
  width: 75%;
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.compareCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22%;
  height: 100px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 5px;
}

.cardIconImg {
  height: 50px;
}

.compareCardIcon {
  width: 35%;
  display: flex;
  justify-content: center;
}

.compareCardText {
  width: 65%
}

.compareItemName {
  composes: title;
  font-size: .8rem;
  text-align: center;
}

.compareItemCaption {
  composes: sectionDetails;
  font-size: .7rem;
  text-align: center;
}

#cardOne {
  background-color: #DBE6FD;
}

#cardTwo {
  background-color: #D9F8F1;
}

#cardThree {
  background-color: #FFF4DD;
}

#cardFour {
  background-color: #FFDBEC;
}

/* Oasis calculator section */
#oasisCalculator {
  background-color: var(--secondaryBackground);
  display: flex;
  justify-content: center;
  padding: 60px 0px;
}

#calculatorWrapper {
  width: 85%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
}

#calculatorIllustration {
  width: calc(50% - 30px);
}

#calculatorImg {
  width: 100%;
  max-width: 500px;
}

#calculatorText {
  width: calc(50% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#calculatorTextWrapper {
  max-width: 420px;
}

#calculatorFirstLine {
  font-size: 2.5rem;
  line-height: 1.3em;
}

/*--------------------- Recent blog posts section ----------------------*/

#blogTitle {
  width: 50%;
  font-size: 2.5rem;
  text-align: center;
}

#recentPosts {
  display: flex;
  justify-content: center;
}

#recentPostsMain {
  width: 90%;
  max-width: 1300px;
  padding-bottom: 70px;
}

#recentPostsTitle {
  text-align: center;
  font-size: 1.2em;
}

#linkToBlog {
  width: 89%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  font-size: .75em;
  font-family: Poppins;
}

#blogLink {
  margin-right: 5px;
  color: var(--titleBlue);
  text-decoration: underline;
}

#postsWrapper {
  margin-top: 10px;
  max-width: 1300px;
  display: flex;
  justify-content: center;
}

/* Newsletter section */

#newsletter {
  position: relative;
  height: 310px;
  background-image: url("../images/landing/newsletter-banner.png");
  background-size: cover;
  display: flex;
  justify-content: center;
}

#newsletterCTAWrapper {
  width: 90%;
  max-width: 1300px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

#newsletterCTA {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#newsletterCTATitle {
  font-size: 1.2em;
  letter-spacing: .4em;
}

#newsletterCTAAction {
  margin-top: 5px;
  font-size: 1.75em;
  text-align: center;
}

#newsletterCTAText {
  margin-top: 5px;
  padding: 0px 20px;
  text-align: center;
  font-size: .9em
}

#acceptPrompt {
  margin-top: 10px;
  font-size: .7em;
  color: var(--titleBlue);
  display: flex;
  align-items: center;
}

#privacyCheck {
  margin-right: 5px;
}

#acceptText {
  line-height: 16px;
  vertical-align: middle;
}

#emailInputWrapper {
  margin-top: 20px;
  height: 40px;
  width: 370px;
  background-color: white;
  border-radius: 5px;
  font-size: .8em;
  color: var(--accentPurple);

  display: flex;
  align-items: center;
}

#emailInput {
  flex-grow: 1;
  padding: 0px 25px;
}

#subscribeButton {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#subscribeArrow {
  width: 35px
}

/* -------------Responsive Media Queries----------------- */

@media (max-width: 1100px){
  #newsletter {
    background-position-x: -80px;
  }

  #newsletterCTA {
    margin-right: 0px;
  }

}

@media (max-width: 992px) {

  #heroIllustration {
    justify-content: center;
  }
  
  #characterSvg {
    width: 300px;
    top: 80px;
    left: 122px
  }

  #linkToBlog {
    width: 98%;
  }

  #compareTextWrapper {
    margin-top: 0px;
  }

  #compareItemsWrapper {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .compareCard {
    width: 44%;
  }

  #newsletter {
    height: 250px;
  }

  #newsletterCTA{
    width: 400px
  }

  #newsletterCTATitle {
    font-size: 1em;
  }
  
  #newsletterCTAAction {
    font-size: 1.5em;
  }

}

@media (max-width: 767px) {

  #hero {
    height: auto;
    max-height: none;
  }

  #heroContent {
    padding-top: 50px;
    flex-wrap: wrap;
  }

  #heroText {
    width: 100%;
    align-items: center;
  }

  #textWrapper {
    max-width: initial;
    width: 90%;
  }

  #heroFirstLine {
    font-size: 2.2rem;
    line-height: 1.3em;
  }

  #heroFirstLine, #heroParagraph {
    text-align: center;
  }

  #heroButtons {
    justify-content: center;
  }

  #heroIllustration {
    align-items: center;
  }

  #characterSvg {
    width: 70%;
    margin-top: 50px;
    margin-right: 0px;
  }

  #compareTextWrapper {
    margin-top: 50px;
  }

  #compareTitle, #blogTitle {
    width: 80%;
    font-size: 1.8rem;
  }

  #calculatorWrapper {
    flex-direction: column;
    align-items: center;
  }

  #calculatorIllustration {
    width: 80%;
    display: flex;
    justify-content: center;
  }

  #calculatorImg {
    max-width: 450px;
  }
  
  #calculatorText {
    width: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #calculatorFirstLine {
    text-align: center;
    font-size: 1.8rem;
  }

  #recentPostsMain {
    padding-bottom: 40px;
  }

  #recentPostsTitle {
    padding: 0px 30px;
    font-size: 1.1em;
  }

  #linkToBlog {
    margin-top: 30px;
    padding: 0px 30px
  }

  #postsWrapper {
    padding: 0px 20px
  }

  #newsletter {
    background-position-x: -300px;
  }

}

@media (max-width: 539px) {

  #heroContent {
    padding-top: 30px;
    width: 92%;
  }

  #linkToBlog {
    width: 100%;
  }

  #compareDetails {
    width: 70%;
    max-width: 400px;
  }

  #compareWrapper {
    width: 85%;
  }

  .compareCard {
    width: 90%
  }

  #newsletter {
    height: 350px;
    background-position: top right;
  }

  #newsletterCTAWrapper {
    justify-content: center;
  }

  #newsletterCTA {
    margin-right: 0px;
    width: 90%
  }

  #newsletterCTAText {
    padding: 0px
  }

  #acceptPrompt {
    margin-top: 25px;
  }

  #emailInputWrapper {
    width: 100%;
  }
  
}

@media (max-width: 414px) {

  #emailInput {
    padding: 0px 10px
  }

}