@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Regular.woff2') format('woff2'),
          url('../fonts/Poppins-Regular.woff') format('woff'),
          url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src:  url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff'),
        url('../fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Bold.woff2') format('woff2'),
          url('../fonts/Poppins-Bold.woff') format('woff'),
          url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src:  url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src:  url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Light.woff2') format('woff2'),
          url('../fonts/Poppins-Light.woff') format('woff'),
          url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Nunito';
    src:  url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
          url('../fonts/NunitoSans-Regular.woff') format('woff'),
          url('../fonts/NunitoSans-Regular.ttf') format('truetype');
}

:root {
  --titleBlue: #526A9B;
  --subTitleGray: #494949;
  --paraTextGray: #5B5766;
  --accentPurple: #6B5FB9;
  --backgroundBlue: #F1F4F8;
  --bannerGradient: linear-gradient(#F1F4F8, #ECFEFB)
}

.title{
  font-family: Poppins;
  color: var(--titleBlue);
  font-weight: 400;
}

.subTitle {
  composes: title;
  color: var(--subTitleGray);
  font-weight: 500;
}

.titleThin {
  composes: title;
  font-weight: 300;
}

.titleSemiBold {
  composes: title;
  font-weight: 600;
}

.titleBold {
  composes: title;
  font-weight: 700;
}

.titleAccent {
  composes: title;
  font-weight: 800;
  color: var(--accentPurple)
}

.paraText {
  font-family: Nunito;
  color: var(--paraTextGray);
}


#hero {
  background-image: url("../images/landing/heroback.png");
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  overflow: hidden;
}

#heroText {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#textWrapper {
  width: 70%;
}

#heroFirstLine, #heroSecondLine {
  font-size: 2.3em;
  line-height: 1.3em;
}

#heroParagraph {
  font-size: .9em;
  margin-top: 10px;
}

#heroIllustration {
  flex-grow: 1;
  position: relative;
}

#rhombusSvg {
  position: absolute;
  width: 80%;
  z-index: 10;
  top: 10%;
  left: 8%
}

#characterSvg {
  position: absolute;
  width: 58%;
  z-index: 30;
  top: 7%;
  left: 17%
}

#verticalWhirl {
  position: absolute;
  width: 55%;
  z-index: 20;
  top: 10%;
  left: 65%
}

#horizontalWhirl {
  position: absolute;
  width: 30%;
  z-index: 20;
  top: -15%;
  left: 6%
}

#heroButtons {
  margin-top: 23px;
  display: flex;
}

.purpleBtn {
  height: 35px;
  background-color: var(--accentPurple);
  border-radius: 500px;
  padding: 12.5px 15px;
  line-height: 10px;
  vertical-align: middle;
  font-size: .65em;
  font-family: Poppins;
  font-weight: bold;
  color: #ffffff
}

.transparentBtn {
  composes: purpleBtn;
  background-color: initial;
  color: var(--accentPurple);
}

#moreBtn {
  margin-left: 10px;
}

#oasisProServices {
  position: relative;
  height: 220px;
}

#servicesRow {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.sideServWrapper {
  width: 400px;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.centerServWrapper {
  flex-grow: 1;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.servicesItem {
  width: 300px;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servIconWrapper {
  height: 52px;
  display: flex;
  align-items: center;
}

.servicesTitle {
  composes: titleBold;
  margin-top: 10px;
  font-size: .9em;
}

.servicesPara {
  composes: paraText;
  font-size: .75em;
  margin-top: 5px;
  text-align: center;
}

#qualityImg {
  width: 50px
}

#helpImg {
  width: 70px

}

#groupImg {
  width: 73px
}

#proServicesBack {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 200px;
  background: var(--bannerGradient);
}

#oasisFeatures {
  position: relative;
  height: 800px
}

#oasisFeaturesSquare {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  background-color: var(--backgroundBlue);
  display: flex;
  justify-content: center;
}

#oasisFeaturesText {
  margin-top: 75px;
  width: 85%;
}

#featuresTitle {
  font-size: 2em;
}

#featuresSubTitle {
  font-size: 1.2em;
  margin-top: 5px;
}

#featuresPara {
  margin-top: 15px;
  font-size: .9em;
}

#userPicWrapper {
  width: 100%;
  max-width: 1150px;
  position: absolute;
  right: 0px;
  top: 280px;
  display: flex;
  padding: 10px;
  background-color: white;
}

.userPic {
  width: 50%
}