@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Regular.woff2') format('woff2'),
          url('../fonts/Poppins-Regular.woff') format('woff'),
          url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope-Regular.woff') format('woff'),
        url('../fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
        url('../fonts/Manrope-SemiBold.woff') format('woff'),
        url('../fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
        url('../fonts/Manrope-Bold.woff') format('woff'),
        url('../fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
  }


#title{
    text-align: center;
    font-size: 22px;
    padding-top: 28px;
    font: normal normal bold 22px/26px Poppins;
}

@media (max-width:960px) {
    #title{
      font-size: 28px;
    }
}

#slideTitle{
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  font-family: Poppins;
}