@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Regular.woff2') format('woff2'),
          url('../fonts/Poppins-Regular.woff') format('woff'),
          url('../fonts/Poppins-Regular.ttf') format('truetype');
}

.header{
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: #ffffff
}

.headerContent {
    box-shadow: 0 1px 3px .5px rgba(50,50,50,.2);
    width: 100%;
    height: 66px;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas: "logo nav social";
}

#logo {
    grid-area: logo;
    width: 140px;
    display: flex;
    align-items: center;
    padding-left: 50px
}

#buttonWrapper {
    display: none;
}

#navBar {
    grid-area: nav;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink {
    margin: 0px 20px;
    font-weight: bold;
    font-size: .75em;
    font-family: Poppins;
    color: #3A558D
}

#navSocial {
    grid-area: social;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#iconsTray {
    width: 150px;
    height: 100%;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.socialIcon {
    width: 18px;
    margin: 0px 5px
}

#navDropHidden {
    height: 0px;
    overflow: hidden;
}

#navDropExpanded {
    position: sticky;
    background-color: #ffffff;
    height: calc(100vh - 66px);
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    transition: all .25s cubic-bezier(.02,.01,.47,1);
}

@media (max-width: 767px){

    .headerContent {
        grid-template-columns: 1fr 70px;
        grid-template-areas: "logo nav";
    }

    #logo {
        width: 120px;
        padding-left: 30px
    }

    #navSocial {
        display: none;
    }

    #navBar {
        display: none;
    }

    #buttonWrapper {
        display: block;
        grid-area: nav;
        display: flex;
        align-items: center;
        margin-right: 30px;
    }

    #navButton {
        height: 35px
    }

    .navLink {
        margin: 10px 20px;
        padding-bottom: 20px;
        border-bottom: solid 1px black;
        font-weight: 200;
        font-size: 1.2em;
        font-family: Poppins;
        color: #3A558D;
        text-align: center;
    }

    #iconsTray {
        margin-top: 10px;
        width: 100%;
        height: 50px;
        padding-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socialIcon {
        width: 25px;
    }

}