@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Regular.woff2') format('woff2'),
          url('../fonts/Poppins-Regular.woff') format('woff'),
          url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Bold.woff2') format('woff2'),
          url('../fonts/Poppins-Bold.woff') format('woff'),
          url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Nunito';
    src:  url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
          url('../fonts/NunitoSans-Regular.woff') format('woff'),
          url('../fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito';
    src:  url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
          url('../fonts/NunitoSans-Bold.woff') format('woff'),
          url('../fonts/NunitoSans-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope-Regular.woff') format('woff'),
        url('../fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
        url('../fonts/Manrope-SemiBold.woff') format('woff'),
        url('../fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
        url('../fonts/Manrope-Bold.woff') format('woff'),
        url('../fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
  }

ul li {
    list-style: initial;
}

ul {
    margin-left: 20px;
}

ol {
    list-style: decimal;
}

#articleWindow {
    display: flex;
    justify-content: center;
    padding: 50px 0px 70px 0px;
}

#article {
    width: 90%;
    max-width: 800px
}

.articleTitle {
    
}

.articleSubtitle {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 700;
}

.articlePara {

}

.title {
    font-family: Manrope;
    font-weight: 700;
    font-size: 2.2em;
    margin-bottom: 10px;
    color: #333333;
}

.shareRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

#postData {
    padding-left: 3px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    line-height: 18px;
}

#authorDate {
    display: flex;
    flex-direction: column;
}

#authorImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#authorName {
    font-size: .9em;
    font-weight: 600;
    font-family: Poppins;
    color: #333333;
}

#date {
    font-size: .8em;
    font-weight: 300;
    font-family: Poppins;
    color: #666666;
}

.iconsPanel {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.iconsPanel a {
    display: flex;
    align-items: center;
}

.socialIcon {
    margin: 0px 3px;
    width: 22px;
    display: inline-block;
}

.hero {
    margin-bottom: 25px;
}

.body {
    padding: 0px 5px;
    font-family: Nunito;
    font-size: 1.15em !important;
}

@media (max-width: 790px) { 

    #articleWindow {
        padding: 30px 0px;
    }

    .title {
        font-size: 1.60em;
    }

    #date {
        font-size: .9em;
    }

}

@media (max-width: 576px) { 

    .body{
        font-size: 1em !important;
    }

}