@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Regular.woff2') format('woff2'),
          url('../fonts/Poppins-Regular.woff') format('woff'),
          url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src:  url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff'),
        url('../fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Bold.woff2') format('woff2'),
          url('../fonts/Poppins-Bold.woff') format('woff'),
          url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src:  url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src:  url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src:  url('../fonts/Poppins-Light.woff2') format('woff2'),
          url('../fonts/Poppins-Light.woff') format('woff'),
          url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Nunito';
    src:  url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
          url('../fonts/NunitoSans-Regular.woff') format('woff'),
          url('../fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
      url('../fonts/Manrope-Regular.woff') format('woff'),
      url('../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
      url('../fonts/Manrope-SemiBold.woff') format('woff'),
      url('../fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
      url('../fonts/Manrope-Bold.woff') format('woff'),
      url('../fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
}

.articleBlogHome {
    display: flex;
    flex-basis: 30.3%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(230, 230, 230, 1);
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-bottom: 30px;
    transition: all .25s cubic-bezier(.02,.01,.47,1);
}

.article:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.22) ;
    transform: translate3d(0px, -6px, 0px);
}

.inlinePostLink {
  font-family: Manrope;
  font-weight: 600;
  font-size: 1rem;
  color: #A86EFF;
}

.inlinePostLink:hover {
  text-decoration: underline;
}

.postLink {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.postLink:hover {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  text-decoration: underline;
}

.postLinkLight {
  composes: postLink;
  text-decoration-color: #ffffff;
}

.postLinkImage {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.image {
    border-radius: 5px 5px 0px 0px;
}

.postLinkInfo {
    display: flex;
    flex-flow: column;
    padding: 10px 15px 15px 15px;
    position: relative;
    flex-grow: 1;
}

.titleText{
    font-family: Hind, 'Segoe UI', sans-serif;
    color: #333333;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.excerptText {
    font-size: 1em;
    font-weight: 400;
    font-family: 'Poppins';
    color: #666666;
}

.data {
    margin-top: 10px;
    display: inline-flex;
    align-items: flex-end;
    flex-grow: 1;
}

.dataText {
    width: 100%;
    text-align: right;
}


/* Article link in home page */

.articleHome {
    flex-basis: 25%;
}

.postLinkImageHome {
    
}

.imageHome {
  border-radius: 7px;
}

.linkInfoHome {
  padding: 10px 5px 15px 5px;
}

.titleTextHome {
  font-family: Poppins;
  font-size: .85em;
  font-weight: 600;
  color: #042552;
}

.articleHomeLink {
  margin-top: 5px;
  font-family: Poppins;
  font-size: .75em;
  color: #526A9B;
  text-decoration: underline;
}


/* Tall blog link */

.tall {
  flex-basis: 29.5%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.imageTall {
  
}

.postLinkImageTall:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0,0,0,0.25);
}

.linkInfoTall {
  position: absolute;
  bottom: 0px;
  padding: 22px 30px
}

.titleTextTall {
  font-family: Manrope;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.45em;
  text-decoration-color: #ffffff;
}

/* Central blog post */

.centralBlogPost {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 60px 0px;
}

.cbpTextColumn {
  display: flex;
  width: calc(50% - 15px);
}

.cbpTextWrapper {
  max-height: 80%;
}

.cbpCategory {
  font-family: Manrope;
  font-weight: 600;
  font-size: 1rem;
  color: #A86EFF;
}

.cbpPostTitle {
  font-family: Manrope;
  font-weight: 700;
  font-size: 2.5rem;
}

.cbpImageColumn {
  display: flex;
  width: calc(50% - 15px);
}

.cbpImage {
  width: 100%;
  border-radius: 8px;
}

.cbpPostInfo {
  font-family: 'Manrope';
  font-size: 1em;
  font-weight: 600;
  color: #D0C9D6;
}

.cbpExcerptText {
  margin-top: 5px;
  width: 90%;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Poppins';
  color: #666666;
}


/* Double card blog posts */

.doubleCardBlogPost {
  width: 45%;
  display: flex;
  gap: 15px;
  margin: 50px 0px;
  max-height: 200px;
  overflow: hidden;
}

.doubleCardTextColumn {
  display: flex;
  width: 50%;
}

.doubleCardTextWrapper {
  max-height: 80%;
}

.doubleCardCategory {
  font-family: Manrope;
  font-weight: 600;
  font-size: .8rem;
  color: #A86EFF;
}

.doubleCardPostTitle {
  font-family: Manrope;
  font-weight: 700;
  font-size: 1.1rem;
}

.doubleCardImageColumn {
  display: flex;
  width: 50%;
}

.doubleCardImage {
  width: 100%;
  border-radius: 7px;
}

.doubleCardPostInfo, .doubleCardReadingTime {
  font-family: 'Manrope';
  font-size: .8em;
  font-weight: 600;
  color: #D0C9D6;
}

.doubleCardExcerptText {
  margin-top: 5px;
  width: 90%;
  font-size: .8em;
  font-weight: 300;
  font-family: 'Poppins';
  color: #666666;
}

.doubleCardInlinePostLink {
  font-family: Manrope;
  font-weight: 600;
  font-size: .8rem;
  color: #A86EFF;
}

.doubleCardInlinePostLink:hover {
  text-decoration: underline;
}

@media screen and (max-width: 992px) {

  .titleTextTall {
    font-size: 1.20em;
  }

  .articleBlogHome, .articleHome {
      flex-basis: 47%;
  }

  .doubleCardExcerptText {
    display: none;
  }

  .doubleCardImageColumn {
    width: 40%;
  }
}

@media (max-width: 767px) {

  .doubleCardBlogPost {
    width: 90%;
    gap: 15px;
    margin: 0px 0px;
  }

  .doubleCardExcerptText {
    display: inherit;
  }

  .doubleCardImageColumn {
    width: 50%;
  }

  .cbpTextColumn {
    width: 100%;
  }

  .cbpImageColumn {
    width: 100%;
  }

  .cbpPostInfo {
    margin-top: 15px;
  }

  .cbpPostTitle {
    font-size: 2rem;
  }

  .tall {
    flex-basis: 80%;
    height: 200px;
    border-radius: 20px;
    margin: 0px 0px;
  }

}

@media screen and (max-width: 539px) {
  .articleBlogHome, .articleHome{
    flex-basis: 97%;
  }

  .postLinkImageHome {
    overflow: hidden;
    max-height: 200px;
  }

  .titleTextHome {
    font-size: .9em;
  }

  .articleHomeLink {
    font-size: .8em;
  }

  .tall {
    flex-basis: 100%;
  }

  .linkInfoTall {
    padding: 15px 17px;
  }

  .doubleCardBlogPost {
    gap: 10px;
    flex-wrap: wrap;
    max-height: none;
  }

  .doubleCardCategory {
    display: none;
  }

  .doubleCardTextColumn {
    width: 100%;
  }

  .doubleCardImageColumn {
    width: 100%;
  }

  .doubleCardImage {
    height: 180px;
  }

  .doubleCardPostInfo, .doubleCardReadingTime {
    display: inline-block;
  }

  .doubleCardReadingTime {
    margin-left: 5px;
  }

  .doubleCardExcerptText {
    display: none;
  }

  .centralBlogPost {
    margin: 30px 0px;
  }

  .cbpPostTitle {
    font-size: 1.8rem;
  }

  .cbpImage {
    height: 180px;
  }

}